<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cheesuscrust">
    <!-- Access Network Status -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon_rounded"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity_con_notification"></activity>
        <!-- User Management -->
        <activity
            android:name=".User.WelcomeScreen"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.UserProfile"
            android:parentActivityName=".Product.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".User.loginScreen"
            android:parentActivityName=".User.WelcomeScreen"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.WelcomeScreen" />
        </activity>
        <activity
            android:name=".User.signupScreen"
            android:parentActivityName=".User.WelcomeScreen"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.WelcomeScreen" />
        </activity>
        <activity
            android:name=".User.Display_Customers"
            android:parentActivityName=".Contact.activity_dash"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".User.Display_Employees"
            android:parentActivityName=".Contact.activity_dash"
            tools:ignore="InnerclassSeparator" /> <!-- Inquiry Management -->
        <activity
            android:name=".Contact.activity_dash"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Contact.ContactActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Contact.InquiryActivity"
            tools:ignore="InnerclassSeparator" /> <!-- Product Management -->
        <activity
            android:name=".Product.AdminEdit"
            android:label="Edit Item"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.AddItem"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.AdminFoodList"
            android:label="Food List"
            android:parentActivityName=".Product.AddItem"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.PizzaActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.BeverageActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.DessertActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Product.HomeActivity"
            tools:ignore="InnerclassSeparator" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>